<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>juliana Ibiapina</title>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/page-home.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/rodape.css">
    </head>

    <body>
        <div id="page-home">
            <div class="content">
                <header>
                     
                    <img src="../images/logo.svg" alt="logo">

                    <div class="menu">
                        <a href="#">Sobre mim</a>
                        <a href="#">Portifólio</a>
                        <a href="#">Blog</a>
                    </div>
                </header>

                <main>
                    <div class="apresentacao">
                        <div class="col-1">
                            <img src="../images/nome.svg" alt="Juliana Ibiapina">
                        </div>
                        <div class="col-2">
                            <img src="../images/foto-perfil.jpg" alt="foto de perfil" id="img-circle">
                        </div>
                    </div>
                    <div class="texto-inicio">
                            <h2>
                                Olá! Sou desenvolvedora de software e ajudo pessoas a melhorarem seus produtos e serviços por meio de sites e apps!
                            </h2>
                            <a href="#">Portifólio</a>
                    </div>
                    <div class="social-medias">
                        <a target="_blank" href="https://github.com/julianaibiapina">
                            <img src="../images/github.svg" alt="">
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/julianaibiapina/">
                            <img src="../images/linkedin.svg" alt="">
                        </a>
                        <a target="_blank" href="https://www.instagram.com/juliana_ibiapina/">
                            <img src="../images/instagram.svg" alt="">
                        </a>
                    </div>
                </main>


            </div>
        </div>
    </body>
</html>