.container{
    width: 85vw;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.card{
    width: 15%;
    min-height: 300px;
    min-width: 268px;

    border-radius: 8px 8px 0 0 ;

    margin: 15px;

    display: flex;
    flex-direction: column;
   
    
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}