.card img{
    width: 100%;
    height: 150px;

    /* para a imagem não ficar esticada, faz que preencha todo o espaço com a imagem */
    object-fit: cover;

    border-radius: 8px 8px 0 0 ;
}

.card-text{
    padding: 20px;
    flex: 1;

    background-color: white;
    font-size: 2em;
    
}

.card h1{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

    font-size: 20px;
    line-height: 26px;
    color: var(--primary-color);
}

.card h2{

    font-family: 'Cardo', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;


    margin-top: 12px;    
}


.card-foot{

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;

    
    background-color: white;
    
    padding: 10px 20px;

    text-align: right;
 
}

.card-foot a{
    
    color: var(--primary-color);

    transition: all 0.5s;
    cursor: pointer;
}

.card-foot span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.card-foot span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.card-foot:hover span{
    padding-right: 25px;
}

.card-foot:hover span:after{
    opacity: 1;
    right: 0;
}