#page-home .content header{
    height: 10vh;
    width: 60vw;
    margin: 0 20vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home .content header img{
    height: 60px;
    margin-left: 50px;
}

#page-home .content header .menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
}